@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Encode+Sans:wght@500&family=Poppins:wght@400;500&family=Ubuntu:wght@400;500;700&display=swap');


/* ---------
navber starts 
-------------*/


.container {
    width: 100%;
   
    
}

nav .halfwidth{
    width: 50%;
    
}

nav{
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    margin-left: 50px;
}

   #logo{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-top: 50px;
    color: #3A3A3A;
    transition: transform 2s linear ;
}

#logo:hover{
    transform: scale(1.10);
}

 #menu{
    display: flex;
    margin-left: 30px;
    justify-content: center;
    margin-top: 50px;
    
   


}

#menu a,i{
    padding-left:20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
}

#menu i:hover{
    color: rgb(235, 114, 57);
}

#menu a:hover{
    color: rgb(235, 114, 57);
}

#menu i{
    padding-top: 6px;
}

/* -----
navber ends
--------- */







/* --------------
first container starts
------------------ */

section div{
    width: 50%;
}

#heading h1{
    font-family: 'Poppins', sans-serif;
   
    font-size: 52px;
    color: #3A3A3A;
    padding-top: 90px;
}

#heading p{
    
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
    

}

#heading{
    padding-left: 95px;
}

#heading a{
    
    height: 44px;
    width: 196px;
    padding: 10px 24px;
    background-image:linear-gradient(green,yellow);
    font-family: 'Poppins', sans-serif;
}
    





